.main-card {
    border-radius: 5px;
    padding: 20px;
    color: white;
    width: 45vw;
}

.icon-info {
    width: 24px;
}

.cardSize {
    width: 80px;
}

.hourly {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}

.bg-secondaryColor {
    background: var(--blue-cards);
}

/* width */
::-webkit-scrollbar {
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: white; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.562); 
}

.row {
    margin-left: 0;
    margin-right: 0;
}

p {
    margin-bottom: 0;
}

.separator {
    height: 100%;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.3
    );
    margin: 5px 10px;
}

.icon {
    width: 65px;
    display: block;
    margin: auto;
}

h5 {
    font-size: 20px;
}

h6 {
    /* font-size: 18px; */
    margin: 0;
}

p {
    font-size: 14px;
}

table {
    border-collapse: collapse;
}

th {
    border: none;
}

tr > td:nth-child(1) {
    width: 130px;
    border: none;
}

tr > td:nth-child(2) {
    width: 130px;
    border: none;
}

tr > td:nth-child(3) {
    justify-content: end;
    display: flex;
    border: none;
}

.tableSize {
    width: 300px;
}

h1,h2,h3,h4,h5,h6 {
    color: white;
}