<main *ngIf="weatherInfo">
    <section class="row mb-4 main-card bg-secondaryColor">
        <div class="col d-flex flex-column justify-content-center">
            <h1>{{weatherInfo.main.temp}}º</h1>
            <h5>{{weatherInfo.weather[0].description}}</h5>
        </div>
        <div class="col d-flex justify-content-center align-self-center">
            <img class="col" [src]="iconUrl" class="img-fluid">
        </div>
    </section>
    <section>
        <h5>{{weatherInfo.name}}</h5>
        <p>
            {{weatherInfo.main.temp_max | number: '1.0-0'}}º / {{weatherInfo.main.temp_min | number: '1.0-0'}}º
            <span class="ms-2 me-2">
                |
            </span>
            Sensación térmica {{weatherInfo.main.feels_like | number: '1.0-0'}}º
        </p>
    </section>
    <section class="d-flex main-card bg-secondaryColor hourly">
        <div class="d-flex" *ngFor="let weather of weatherInfoHourly; let i = index">
            <div>
                <h6 class="d-flex justify-content-center">{{weather.dt}}</h6>
                <img class="icon" [src]="iconsUrl[i]">
                <h6 class="d-flex justify-content-center mb-2">{{weather.temp | number: '1.0-0'}}º</h6>
                <div class="d-flex justify-content-center">
                    <img class="me-2 icon-drop" src="assets/img/droplet.svg">
                    <p>{{weather.pop * 100| number: '1.0-0'}}%</p>
                </div>
            </div>
            <div *ngIf="i < weatherInfoHourly.length - 1" class="separator"></div>
        </div>
    </section>
</main>
