<main>
    <section *ngIf="weatherDetails">
        <div>
            <h3>{{weatherDetails.date}}</h3>
            <div>
                {{weatherDetails.weather[0].description}}
            </div>
            <div>
                Máxima
                {{weatherDetails.temp.max}}º
            </div>
            <div>
                Mínima
                {{weatherDetails.temp.min}}º 
            </div>
            <div class="d-flex">
                Probabilidad de lluvia
                <img class="me-2 icon-drop" src="assets/img/droplet-empty.svg">
                <p>{{weatherDetails.pop * 100| number: '1.0-0'}}%</p>
            </div>
            <div>
                Humedad
                <img class="me-2 icon-drop" src="assets/img/droplet-empty.svg">
                <p>{{weatherDetails.humidity}}%</p>
            </div>
            <div>
                Índice UV
                <img class="me-2 icon-drop" src="assets/img/droplet-empty.svg">
                <p>{{weatherDetails.uvi}}%</p>
            </div>
            <div>
                Viento
                <img class="me-2 icon-drop" src="assets/img/droplet-empty.svg">
                <p>{{weatherDetails.wind_speed}}km/h</p>
            </div>
        </div>
    </section>
    <section class="mainCard-container">
        <div (click)="showDetails(info)" class="col mainCard p-4 cursor-pointer" *ngFor="let info of weatherWeek">
            <h3>{{info.dayDate}}</h3>
            <img class="icon" [src]="info.iconImg">
            <div class="d-flex align-items-center justify-content-between">
                <div>
                    <img src="assets/img/sun-light.svg">
                    Día
                </div>
                <h6 class="d-flex justify-content-center">{{info.temp.day | number: '1.0-0'}}º</h6>
            </div>
            <div class="d-flex align-items-center justify-content-between">
                <div>
                    <img src="assets/img/half-moon.svg">
                    Noche
                </div>
                <h6 class="d-flex justify-content-center">{{info.temp.night | number: '1.0-0'}}º</h6>
            </div>
        
        </div>
    </section>
</main>
