h6 {
    margin: 0;
}

.main-card {
    width: 100%;
    display: flex;
}

.bg-secondaryColor {
    background: var(--blue-cards);
}

.mainCard-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
}

.mainCard {
    border-radius: 10px;
    background-color: var(--blue-cards);
    color: white;
}

.icon {
    display: block;
    margin: auto;
}

@media (max-width: 768px) {
    .mainCard-container {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }

    .main-card {
        width: 100%;
        display: block;
    }

    .tableSize {
        width: 100%;
    }
}

.weatherStyle {
    width: 314px;
    display: flex;
    justify-content: space-between;
}

.weatherStyleMode  {
    width: 50px;
    display: flex;
}

h6, p {
    align-items: center;
    margin: 0;
}

.tableSize {
    width: 450px;
}

tr > td:nth-child(2) {
    width: 190px;
    border: none;
}


@media (max-width: 768px) {
    .icon {
        width: 100%;
    }
}

