<main>
    <!-- Tarjeta con la información detallada con el día de la semana -->
    <section class="mb-3" *ngIf="weatherDetails">
        <section #todayDetails class="justify-content-between main-card bg-secondaryColor">
            <div class="d-flex flex-column justify-content-center">
                <h3>{{weatherDetails.date}}</h3>
                <div class="d-flex">
                    <div>
                        <h1>{{weatherDetails.temp.day}}º</h1>
                        <h5>{{weatherDetails.weather[0].description}}</h5>
                    </div>
                    <div class="col align-self-center">
                        <img class="col" [src]="weatherDetails.iconImg">
                    </div>
                </div>
                
                <div class="text-white">
                    {{weatherDetails.temp.max | number: '1.0-0'}}º / {{weatherDetails.temp.min | number: '1.0-0'}}º
                    <div>
                        <div class="weatherStyle">
                            <div class="weatherStyleMode">
                                <img src="assets/img/sun-light.svg" class="me-2">
                                <p>Día</p>
                            </div>
                            <div class="d-flex">
                                <h6 class="ms-2 d-flex justify-content-center">{{weatherDetails.temp.day | number: '1.0-0'}}º</h6>
                                <span class="ms-2 me-2">
                                    |
                                </span>
                                <h6>Sensación térmica {{weatherDetails.feels_like.day | number: '1.0-0'}}º</h6>
                            </div>
                        </div>
                        <div class="weatherStyle">
                            <div class="d-flex align-items-center">
                                <div class="weatherStyleMode">
                                    <img src="assets/img/half-moon.svg" class="me-2">
                                    <p>Noche</p>
                                </div>
                            </div>
                            <div class="d-flex">
                                <h6 class="ms-2 d-flex justify-content-center">{{weatherDetails.temp.night | number: '1.0-0'}}º</h6>
                                <span class="ms-2 me-2">
                                    |
                                </span>
                                <h6>Sensación térmica {{weatherDetails.feels_like.night | number: '1.0-0'}}º</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tableSize">
                <table class="table">
                    <tbody>
                    <tr>
                        <th scope="row">
                            <img class="icon-info" src="assets/img/wind.svg">
                        </th>
                        <td class="align-middle">
                            <h6 stlye="width: max-content">Viento</h6>
                        </td>
                        <td>                   
                            <h6>{{weatherDetails.wind_speed}}km/h</h6>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <img class="icon-info" src="assets/img/droplet-half.svg">
                        </th>
                        <td class="align-middle">
                            <h6 stlye="width: max-content">Humedad</h6>
                        </td>
                        <td>
                            <h6>{{weatherDetails.humidity}}%</h6>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <img class="icon-info" src="assets/img/pressure.svg">
                        </th>
                        <td class="align-middle">
                            <h6 stlye="width: max-content">Presión</h6>
                        </td>
                        <td>
                            <h6>{{weatherDetails.pressure}}mb</h6>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <img class="icon-info" src="assets/img/uv.svg">
                        </th>
                        <td class="align-middle">
                            <h6 stlye="width: max-content">Índice UV</h6>
                        </td>
                        <td>
                            <h6>{{weatherDetails.uvi}}</h6>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <img src="assets/img/droplet.svg">
                        </th>
                        <td class="align-middle">
                            <h6 stlye="width: max-content">Probabilidad de lluvia</h6>
                        </td>
                        <td>
                            <h6>{{weatherDetails.pop * 100| number: '1.0-0'}}%</h6>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </section>
    
    <!-- Tarjetas con el tiempo semanal -->
    <section class="mainCard-container">
        <div (click)="showDetails(info)" class="col mainCard p-4 cursor-pointer" *ngFor="let info of weatherWeek">
            <h3>{{info.dayDate}}</h3>
            <img class="icon" [src]="info.iconImg">
            <div class="d-flex align-items-center justify-content-between">
                <div>
                    <img src="assets/img/sun-light.svg">
                    Día
                </div>
                <h6 class="d-flex justify-content-center">{{info.temp.day | number: '1.0-0'}}º</h6>
            </div>
            <div class="d-flex align-items-center justify-content-between">
                <div>
                    <img src="assets/img/half-moon.svg">
                    Noche
                </div>
                <h6 class="d-flex justify-content-center">{{info.temp.night | number: '1.0-0'}}º</h6>
            </div>
        </div>
    </section>
</main>
