main {
    width: 100vw;
    width: 1250px;
    max-width: 100%;
    margin: 0 auto;
}


button:hover {
    background-color: rgba(81, 116, 255, 0.4);
    border: 1.5px rgba(81, 116, 255, 0.4) solid;
    color: white;
}

.section {
    border-bottom: white solid;
}