main {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

app-theme-selector {
    top: 40%;
    right: 3%;
}

main > div {
    width: 1250px;
    max-width: 100%;
    margin: 0 auto;
}

.blue-light {
    background-image: linear-gradient(to bottom, 
        rgb(0 84 153) 0%,
        rgb(0 140 255) 45%,
        rgb(255, 197, 150) 100%,
        rgb(255, 162, 86) 75%
    );
}

.blue-dark {
    background-image: linear-gradient(to bottom,
        rgb(0 0 0) 0%,
        rgb(0, 16, 29) 45%,
        rgb(0, 50, 92) 100%,
        rgb(0, 73, 133) 75%  
    );
}


button:hover {
    background-color: rgba(81, 116, 255, 0.4);
    border: 1.5px rgba(81, 116, 255, 0.4) solid;
    color: white;
}

.section {
    border-bottom: white solid;
}

#logo {
    width: 80px;
}

h1 {
    width: max-content;
    padding: 20px !important;
}

@media (max-width: 1000px) {
    main > div {
        padding: 20px;
    }
}
