label, p {
    font-weight: 600;
}

.btn {
    color: white;
    background-color: var(--gray);
    border-radius: 5px;
    border: 1.5px var(--gray) solid;
    width: max-content;
    transition: background-color 0.3s, border-color 0.3s;
}

.btn:active {
    background-color: #333; /* Cambia el fondo cuando se hace clic */
    border-color: #333;
}

.form-control {
    max-width: 300px;
}

h4 {
    color: black !important;
}

p {
    margin: 0;
}