/* You can add global styles to this file, and also import other style files */
:root {
  --blue-bg: rgba(134, 185, 251, 0.8);
  --blue-cards: rgba(0, 0, 0, 0.4);
  --blue-main: #114E87;
  --blue-day: #4EAFF3;
  --blue-cloudy: #5570E9;
  --blue-storm: #5F60E4;
  --blue-rain: #5F4BBC;
  --blue-night: #586DE8;
  --gray: #48484A;
}

.cursor-pointer {
  cursor: pointer;
}

body {
  min-width: 400px;
}

.text-gray {
  color: var(--gray);
}

table {
  border-collapse: collapse;
}

th {
  border: none;
}

tr > td:nth-child(1) {
  width: 130px;
  border: none;
}

tr > td:nth-child(2) {
  width: 130px;
  border: none;
}

tr > td:nth-child(3) {
  justify-content: flex-end;
  display: flex;
  border: none;
}

.tableSize {
  width: 300px;
}

.icon-info {
  width: 24px;
}

h1,h2,h3,h4,h5,h6, p {
  color: white;
}

.main-card {
  border-radius: 5px;
  padding: 20px;
}